* {
	margin: 0px;
	padding: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	width: 100%;
	min-width: 720px;
	padding: 2px;
	overflow: hidden;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 80px;
	background: #000000;
	padding: 2px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
	background: #CCCCCC;
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 260px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 240px;
	margin-left: -100%;
	position: relative;
	background: #CCCCCC;
	padding: 2px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 20px;
	background: #000000;
	padding: 2px;
}

/* Menu
-----------------------------------------------------------------------------*/
br { clear:left }

.menu_simple {
    width: 100%;
    background: #FFFFFF;
}

.menu_simple ul {
    margin: 0; padding: 0;
    float: left;
}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background: #000000;
}
 
.menu_simple ul li a:visited {
    color: #FFFFFF;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background: #666666;
}

/* Images
-----------------------------------------------------------------------------*/
.img {
    margin: 5px;
    border: 1px solid #CCCCCC;
    float: left;
    width: 320px;
}

.img:hover {
    border: 1px solid #666666;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}